@charset "utf-8";
/* CSS Document */

/*SITE STYLING*/
body {
	color: white;
	background: #540113; /* Old browsers */
	background: -moz-linear-gradient(top, #540113 0%, #2d0009 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #540113 0%,#2d0009 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #540113 0%,#2d0009 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#540113', endColorstr='#2d0009',GradientType=0 ); /* IE6-9 */
}

#container{
	display: block;
}

/*Styles the main header*/
#mainHeader{
	text-align: center;
	padding: 20px;
	font-family: 'Orbitron', sans-serif;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
}

/*Styles all H2s*/
h2{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

/*Styles the rules*/
#rules{
	text-align: center;
}

/*Styles the stage area*/
#stageArea{
	display: relative;
	margin: 0 auto;
	width: 960px;
	height: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: url(../images/stage.svg) center no-repeat;
}

/*Styles area holding the instrument groups*/
#buttonHolder{
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	max-width:960px;
	margin: 0 auto;
}

/*Adds space between instrument groups*/
.instrumentGroup{
	padding-right: 30px;
	padding-bottom: 30px;
}

/*Removes right padding from rightmost instrument groups*/
#drums{
	padding-right: 0px;
}

/*Styles instrument headings*/
.instrumentGroup h2{
	text-align: center;
	padding: 5px;
	font-weight: bold;
	text-transform: uppercase;
}


/*ICON STYLING*/
.mic, .guitar, .bass, .drum{
	width: 60px;
	height: 60px;
}

.instrumentBox{
	display: inline-block;
	width: 60px;
	height: 60px;
	opacity: 0.8;
	background-color: white;
}

/*Styles icons on hover*/
.mic:hover, .guitar:hover, .bass:hover, .drum:hover{
	opacity: 1;
}

.instrumentBox:hover{
	opacity: 1;
}

/*Adds outline to stage when something is being dragged over it*/
.outline{
	outline: 5px solid #FFF;
	outline-offset: -5px;
}

/*Styles and positions microphone on stage*/
#stageArea img.mic{
	position: absolute;
	width: 150px;
	height: 150px;
	margin-left: 48px;
	margin-top: 290px;
}

/*Styles and positions guitar on stage*/
#stageArea img.guitar{
	position: absolute;
	width: 150px;
	height: 150px;
	margin-left: 284px;
	margin-top: 290px;
}

/*Styles and positions bass on stage*/
#stageArea img.bass{
	position: absolute;
	width: 150px;
	height: 150px;
	margin-left: 524px;
	margin-top: 290px;
}

/*Styles and positions drums on stage*/
#stageArea img.drum{
	position: absolute;
	width: 150px;
	height: 150px;
	margin-left: 761px;
	margin-top: 305px;
}